---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout
  title="About"
  description={astropodConfig.description}
  cover={astropodConfig.cover}
>
  <div class="flex flex-col gap-x-3 sm:flex-row items-start">
    <a
      href="https://www.linkedin.com/in/mukhriddin-khodiev"
      class=" block mx-auto shrink-0"
    >
      <img
        alt=""
        src="https://www.muhriddin.uz/assets/img/me.jpg"
        class="size-8 block mx-auto rounded-lg object-cover w-[300px]"
      />

    </a>

    <div class="sm:pt-0 cursor-pointer">
      <h3 class="font-medium sm:text-2xl p-1">
        <a href="#" class="hover:underline"> Mukhriddin Khodieff </a>
      </h3>

      <p
        class="line-clamp-8 dark:bg-transparent bg-slate-50 p-2 text-sm text-gray-700"
      >
        Software Engineer with 7+ years of experience. The main stack is
        Frontend (JavaScript and Vue JS, React Js, Angular Js). My backend
        experience is NodeJs (Express.js) and PHP (in Laravel). I have worked on
        CRMs with more than one million users, completed more than 100 projects
        during my career. I strive for innovation and constantly try to work on
        myself.
      </p>

      <div class="flex gap-x-2 ps-4  p-2 rounded-2xl text-lg">

        <a
          href="https://uz.linkedin.com/in/mukhriddin-khodiev"
          class="linkedin p-2 bg-slate-50 border w-10 h-10 grid hover:bg-slate-200 place-content-center rounded-full"
        >
          <i class="bi bi-linkedin"></i>
        </a>

        <a href="https://github.com/mukhriddin-dev" class="linkedin p-2 bg-slate-50 border w-10 h-10 grid hover:bg-slate-200 place-content-center rounded-full">
          <i class="bi bi-github"></i>
        </a>

        <a href="https://t.me/mukhriddinweb" class="twitter p-2 bg-slate-50 border w-10 h-10 grid hover:bg-slate-200 place-content-center rounded-full">
          <i class="bi bi-telegram"></i>
        </a>

        <a href="https://medium.com/@mukhriddinweb" class="instagram p-2 bg-slate-50 border w-10 h-10 grid hover:bg-slate-200 place-content-center rounded-full">
          <i class="bi bi-medium"></i>
        </a>

      </div>
    </div>
  </div>
</EpisodeLayout>
